{% extends 'menu_teacher.html' %}
{% block session_body %}

{% if not teacher %}
Teacher not found! This error should never happen. Please inform the selectives team. Thanks!
{% endif %}
<h3>Class List</h3>
<br>

{% if classes %}
<table>
  {% for c in classes %}
    <tr class=highlight>
      <td><a href="/teacher/teacher_roster?{{ session_query }}&class_id={{ c['id'] }}">roster</a></td>
      <td>{{ c['name'] }}</td>
      <td>
        {% for s in c['schedule'] %}
          {{ s['daypart'] }}
        {% endfor %}</td>
      <td>{{ c['instructor'] }}</td>
    </tr>
  {% endfor %}
</table>

{% else %}
Classes have not been created yet for this session.<br>
Please contact the selectives website administrator for help.
{% endif %}

{% endblock %}
