{% extends 'menu.html' %}
{% block session_body %}

<h3>Auto Register</h3>
<table width='60%'>
<tr>After entering the setup here, go to Schedule -> Automated and click "Add Auto Register Classes".
</tr>
<tr><td>
  Example:
  <pre style="border: solid; border-width: thin; margin-top: 4px; background-color:#d3d3d3">
- name: 6th Core
  class_id: 65
  applies_to:
    - current_grade: 6
  exempt:
    - leo.payne@gmail.com
- name: 7th Core
  class_id: 66
  applies_to:
    - current_grade: 7
    - email: leo.payne@gmail.com
    - group: Visiting_Group
  </pre>
</td><td>
Required fields:
<ul style="margin:0">
  <li>class_id - must match id from Classes</li>
  <li>id - generated, not the same as class_id</li>
</ul>
Optional fields:
<ul style="margin:0">
  <li>class - reminder which class the class_id points to</li>
  <li>applies_to</li>
  <ul>
    <li>empty list [] for all students</li>
    <li>current_grade specifies one grade level such as 8, 7, or 6</li>
    <li>email for individual students</li>
    <li>group from Student Groups</li>
  </ul>
  <li>exempt - list of emails exempt from this class</li>
</ul>
</td></tr></table>
<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=auto_register>
{{ auto_register }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
