<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Selectives Web</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <table width=100%><tr>
      <td align=left><h1>{{ institution }} {{ session }} Selectives Web</h1>
      {# to do: determine if we are an institution admin or a 
         global admin before displaying this navigation. #}
      {% if true %} <a href="/">home</a> {% endif %}
      {% if session_query %} <a href="/institution?{{ session_query }}">{{ institution }}</a> {% endif %}</td>
      <td align=right>{{ user.email() }} <a href="{{ logout_url }}">logout</a></td>
    </tr></table>
    <hr>
    {% block body %} {% endblock %}
  </body>
</html>
{% endautoescape %}
