<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Selectives Web</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <table width=100%><tr>
      <td align=left><h1>
        {# TODO fix this hack:
           We need an institution url not a session_query #}
        {% if session_query %}
          <a href="/institution?{{ session_query }}">
        {% else %}
          <a href="/">
        {% endif %}
        {{ institution }} {{ session }} Selectives Web
        </a></h1>
      </td>
      <td style="color:red">
        <!--This message will only display on certain admin pages that pass setup_msg.-->
        {% if setup_msg and (setup_msg != 'OK') %}
        Your data may be inconsistent. See Error Check for details.
        {% endif %}
      </td>
      <td align=right>
        {% if user_email %}
          {{ user_email }} <a href="{{ logout_url }}">logout</a>
        {% else %}
          <a href="{{ login_url }}">Log In</a>
        {% endif %}
      </td>
    </tr></table>
    <hr>
    {% block body %} {% endblock %}
  </body>
</html>
{% endautoescape %}
