<!DOCTYPE html>
<!-- Common header used by all student viewable pages. -->
{% autoescape true %}
<html lang="en">
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="body-user">
    <div id="header-user">
      <div id="logo-user">
        <img src="/images/DiscoveryMascot_Logo_Tiny.jpg" alt="DCS phoenix logo" width="50px">
        <div id=title-user>Discovery Selectives</div>
      </div>
      <div id="session-user">{% if session %}{{session}}{% endif %}</div>
      <div id="login-user">
        {% if user_email %}
          <div id="email-user">{{ user_email }}</div>
        {% endif %}
        {% if user_email %}
          <div><a class="button" href="/logout">Sign out</a></div>
        {% else %}
          <div><a class="button" href="{{ login_url }}">Sign in</a></div>
        {% endif %}
      </div>
    </div>
    {% block body %} {% endblock %}
  </body>
</html>
{% endautoescape %}
