<!DOCTYPE html>
<!-- Common header used by all student viewable pages. -->
{% autoescape true %}
<html lang="en">
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table width=100% style="border-collapse:collapse">
    <tr style="background-color: #f1f1f1; font-family: 'Oxygen', sans-serif;">
      <td align=center>
        <img src="/images/DiscoveryMascot_Logo_Tiny.jpg" alt="DCS phoenix logo">
      </td>
      <td>
        <h1>Discovery Selectives</h1>
        <h1><small>{{session}}</small></h1>
      </td>
      <td align=right>
        {% if user_email %}
          {{ user_email }}<br>
          <a href="/logout">logout</a>
        {% else %}
          <a href="{{ login_url }}">Log In</a>
        {% endif %}
      </td>
    </tr>
    </table>
    <hr>
    {% block body %} {% endblock %}
  </body>
</html>
{% endautoescape %}
