<!DOCTYPE html>
<!-- Common header used by all student viewable pages. -->
{% autoescape true %}
<html lang="en">
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="body-user">
    <div id="header-user">
      <div id="logo-user">
        <img src="/images/DiscoveryMascot_Logo_Tiny.jpg" alt="DCS phoenix logo" width="50px">
      </div>
      <div id="title-user">
        Discovery Selectives
        {% if session %}
          - <small>{{session}}</small>
        {% endif %}
      </div>
      <div id="login-user">
        {% if user_email %}
          {{ user_email }} <a href="/logout">logout</a>
        {% else %}
          <a href="{{ login_url }}">Log In</a>
        {% endif %}
      </div>
    </div>
    {% block body %} {% endblock %}
  </body>
</html>
{% endautoescape %}
