<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

{% if not student %}
Student not found! This error should never happen. Please inform the selectives team. Thanks!
{% else %}
<h2 style="margin-bottom:0">
  Selectives Personalized Course Catalog - {{session}}<br>
  {{ student['first'] + ' ' + student['last'] }}
</h2>
<h3 style="margin-bottom:4px; margin-top:4px">
  Homeroom: {{ student['current_homeroom'] }}<br>
  Grade: {{ student['current_grade'] }}<br>
</h3>

<hr width="80%" align="left">
{% include 'catalog_personal_include.html' %}
{% endif %}

  </body>
</html>
{% endautoescape %}