{% extends 'menu_student.html' %}
{% block session_body %}

{% if not student %}
Student not found! This error should never happen. Please inform the selectives team. Thanks!
{% else %}
<h2 style="margin-bottom:0">
  Selectives Full Course Catalog<br>
  {{ student['first'] + ' ' + student['last'] }}
</h2>
<h3 style="margin-bottom:4px; margin-top:4px">
  Homeroom: {{ student['current_homeroom'] }}<br>
  Grade: {{ student['current_grade'] }}<br>
</h3>
<a href="catalog_full_print?{{ session_query }}">View Printer Friendly Page</a><br>

{% include 'catalog_full_include.html' %}
{% endif %}
{% endblock %}
