{% for c in core %}
    <h3 style="height:5px">{{c['name']}}</h3>
    <b>Schedule: </b>
    {{ c['schedule'] | join(' / ', attribute='daypart') }}
{% endfor %}
<br>
{% for c in classes %}
  {% if not c['exclude_from_catalog'] %}
    <h3 style="height:5px">{{c['name']}}</h3>
    {% if c['instructor'] %}
      <b>Teacher: </b>{{c['instructor']}}<br>
    {% endif %}
    <b>Maximum Enrollment: </b>{{c['max_enrollment']}}<br>
    <b>Schedule: </b>
    {{ c['schedule'] | join(' / ', attribute='daypart') }}<br>
    {% if c['donation'] %}
      <b>Suggested Donation: </b>{{c['donation']}}<br>
    {% endif %}
    <div style="line-height:6px"><br></div>
    {% if c['description'] %}
      {% for line in c['description'].splitlines() %}
        {{ line }}<div style="line-height:6px"><br></div>
      {% endfor %}
    {% endif %}
    <br>
  {% endif %}
{% endfor %}
