{% extends 'menu.html' %}
{% block session_body %}

<h3>Classes</h3>
<table width='50%'><tr><td>
TIP: Each class must have the following fields:
name, max_enrollment, schedule-daypart, schedule-location.
Each class can also have: instructor, prerequisites.
</td></tr></table>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=classes>
{{ classes }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
