{% extends 'menu.html' %}
{% block session_body %}

<h3>Dayparts</h3>
<table width='60%'>
<tr>
Each daypart should be separate and not overlap with others.<br>
Dayparts like M-W-F 8-9am are fine, but then don't also add Friday 8am-9am because it overlaps.</tr>
<tr><td>
  Example:
  <pre class="setup-example">
- name: Mon A
  row: 1
  col: 1
  rowspan: 1
  colspan: 1
- name: Tues A
  row: 1
  col: 2
  </pre>
</td><td>
Required fields:
<ul style="margin:0">
  <li>name - must be unique</li>
  <li>row</li>
  <li>col</li>
</ul>
Optional fields:
<ul style="margin:0">
  <li>rowspan - defaults to 1, if not specified</li>
  <li>colspan - defaults to 1, if not specified</li>
</ul>
</td></tr></table>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=dayparts>
{{ dayparts }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
