{% extends 'menu.html' %}
{% block session_body %}

<h3>Dayparts</h3>
<table width='50%'><tr><td>
TIP: Each daypart should be separate and not overlap with others.
Dayparts like M-W-F 8-9am are fine, but then don't also add 
Friday 8am-9am because it overlaps. When in doubt it's better to keep
everything separate.<br><br>
<i>row</i>, <i>col</i>, <i>rowspan</i> and <i>colspan</i> are used for the layout of the schedule.<br>
<i>rowspan</i> and <i>colspan</i> are optional. If not specified, they default to 1.
</td></tr></table>
<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=dayparts>
{{ dayparts }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
