{% extends 'menu.html' %}
{% block session_body %}

<h3>Student Groups</h3>
<table width='50%'><tr><td>
  Example:
  <pre style="border: solid; border-width: thin; margin-top: 4px; background-color:#d3d3d3">
- group_name: PE_Tues_A
  emails:
    - banazir.galpsi@yahoo.com
    - bilba.labingi@gmail.com
- group_name: Fingolfins
  emails:
    - beleg.strongbow@gmail.com
    - cele.brian@gmail.com
  </pre>
</td><td>
Required fields:
<ul style="margin:0">
  <li>group_name</li>
  <li>emails</li>
</ul>
</td></tr></table>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=groups_students>
{{ groups_students }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
