{% extends 'menu.html' %}
{% block session_body %}

<h3>Document Links</h3>
<table width='60%'><tr><td>
  Example:
  <pre style="border: solid; border-width: thin; margin-top: 4px; background-color:#d3d3d3">
- name: 7th Grade Schedule
  url: https://drive.google.com/BtkPtSuC/view?usp=sharing
- name: 8th Grade Schedule
  url: https://drive.google.com/z6F6ETbA/view?usp=sharing
  </pre>
</td><td>
Required fields:
<ul style="margin:0">
  <li>name - text of link</li>
  <li>url</li>
</ul>
</td></tr></table>
<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=links>
{{ links }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
