{% extends 'menu_student.html' %}
{% block session_body %}

{% if not student %}
Student not found! This error should never happen. Please inform the selectives team. Thanks!
{% else %}
<div>
<div class="profile-user">
  <h3 class="profile-data">Final Schedule</h3>
  <h3 class="profile-data"><a href="print_schedule?{{ session_query }}&student={{student['email'] }}">Printer Friendly Page</a></h3>
</div>
<div class="profile-user">
  <h2 class="profile-data">{{ student['first'] + ' ' + student['last'] }}</h2>
  <h3 class="profile-data">Homeroom: {{ student['current_homeroom'] }}</h3>
  <h3 class="profile-data">Grade: {{ student['current_grade'] }}</h3>
</div>

<table>
  {% for row in dayparts_ordered %}
  <tr>
    <td class="schedPostRegRowHeader"></td>
    {% for daypart in row %}
    <td class="schedPostRegHeader">{{ daypart }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td class="schedPostRegRowHeader">
      Class:<br>
      Location:<br>
      Instructor:<br>
      Donation:
    </td>
    {% for daypart in row %}
      <td class="schedPostRegItem">
      {% if schedule_by_daypart[daypart] %}
        {{ schedule_by_daypart[daypart]['name'] }}<br>
        {% for s in schedule_by_daypart[daypart]['schedule'] %}
          {% if s['daypart'] == daypart %}
          {{ s['location'] }}<br>
          {% endif %}
        {% endfor %}
        {{ schedule_by_daypart[daypart]['instructor'] }}<br>
        {{ schedule_by_daypart[daypart]['donation'] }}<br>
      {% endif %}
      </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
