{% extends 'menu.html' %}
{% block session_body %}

<h3>Preferences Admin</h3>

<form method=post>
<fieldset>
<legend>Preferences</legend>
<input type=submit name="action" value="Clear Prefs" onclick="return confirm('Are you sure? This will clear all preferences.');"/>
<input type=submit name="action" value="Random Prefs" onclick="return confirm('Are you sure? This will generate random preferences for everyone.');"/>
</fieldset>
</form>
<br>
TODO: Mark any students with no saved preferences
<br>
<br>

{% for student in students %}
  <a href="/preferences?{{ session_query }}&student={{ student['email'] }}"> {{ student['first'] }} {{ student['last'] }} </a><br>
{% endfor %}

{% endblock %}
