{% extends 'base.html' %}
{% block body %}

<script>

var auto_save_timer_object;
var last_change_timestamp;

// Shim to handle Internet Explorer
if (!Date.now) {
  Date.now = function() { return new Date().getTime(); }
}

function ResetAutoSaveTimer(seconds) {
  // set the timer to save in the given number of seconds
  if (auto_save_timer_object) {
    clearTimeout(auto_save_timer_object);
  }
  auto_save_timer_object = setTimeout(AutoSave, seconds * 1000);
}

function SetModified() {
  // record the time of the last change
  last_change_timestamp = Date.now();
  // set the timer to save in 5 seconds
  ResetAutoSaveTimer(5);
  // Don't let the user leave without saving
  window.onbeforeunload = confirmOnPageExit;
  document.getElementById("status").innerHTML = "Modified";
}

function SetSaved() {
  // Let the user leave without hassle
  window.onbeforeunload = null;
  document.getElementById("status").innerHTML = "Saved";
}

function SetSaveFail() {
  // set the timer to try again in 5 seconds
  ResetAutoSaveTimer(5);
  window.onbeforeunload = confirmOnPageExit;
  document.getElementById("status").innerHTML = "Save Failed";
}

function SetSaving() {
  document.getElementById("status").innerHTML = "Saving...";
}

window.onbeforeunload = null;

function confirmOnPageExit(e) {
  e = e || window.event;
  var msg = '*** SAVE your work first! ***';
  if (e) {
    e.returnValue = msg;
  }
  return msg;
}

function CopyListToHidden(list_id, hidden_id) {
  olist = document.getElementById(list_id);
  str = ""
  for(var idx=0; idx < olist.childElementCount; idx++) {
    var val = olist.children[idx].value;
    str = str + val + ",";
  }
  str = str.substr(0, str.length-1);  // remove last extra comma
  hidden = document.getElementById(hidden_id);
  hidden.value = str;
}

function submit_it() {
  // clear the unload handler so it doesn't block this submit
  window.onbeforeunload = null;
  CopyListToHidden("WantSortableList", "want");
  CopyListToHidden("DontWantSortableList", "dontwant");
  CopyListToHidden("DontCareSortableList", "dontcare");
  return true;
}

function AutoSave() {
  var save_timestamp = Date.now();
  SetSaving();
  CopyListToHidden("WantSortableList", "want");
  CopyListToHidden("DontWantSortableList", "dontwant");
  CopyListToHidden("DontCareSortableList", "dontcare");
  var request = new XMLHttpRequest();
  request.onload = function() {
    if (request.status == 200) {
      if (save_timestamp > last_change_timestamp) {
        SetSaved();
      }
    } else {
      SetSaveFail();
    }
  }
  request.open("POST", "");
  var formElement = document.querySelector("form");
  var formData = new FormData(formElement);
  request.send(formData);
}
</script>


<script src="./Sortable/Sortable.js"></script>


<h3>Preferences</h3>

Name: {{ student['first'] + ' ' + student['last'] }}<br>
Grade: {{ student['current_grade'] }}<br>
email: {{ student['email'] }}<br><br>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<input type=hidden name="student" value="{{ student['email'] }}" />
<input type=hidden id="want" name="want" value="" />
<input type=hidden id="dontwant" name="dontwant" value="" />
<input type=hidden id="dontcare" name="dontcare" value="" />

<div class="prefGroup">
  <div class="header">Don't Want</div>
  <div class="header">Don't Care</div>
  <div class="header">Want</div>
</div>
<div class="prefGroup">
  <ol class="PrefOrderedListStyle" id="DontWantSortableList">
    {% for id in dontwant_ids %}
      <li title='{{ classes[id].description }}' value='{{ id }}' class="PrefListItemStyle">{{ classes[id].name }}</li>
    {% endfor %}
  </ol>
  <ol class="PrefOrderedListStyle" id="DontCareSortableList">
    {% for id in dontcare_ids %}
      <li title='{{ classes[id].description }}' value='{{ id }}' class="PrefListItemStyle">{{ classes[id].name }}</li>
    {% endfor %}
  </ol>
  <ol class="PrefOrderedListStyle" id="WantSortableList">
    {% for id in want_ids %}
      <li title='{{ classes[id].description }}' value='{{ id }}' class="PrefListItemStyle">{{ classes[id].name }}</li>
    {% endfor %}
  </ol>
</div>

<input type="submit" name=Save value=Save onclick="return submit_it();"/>
<span id=status>Saved</span>
</form>

<!--
  An element needs to be in the DOM before getElementById can find it,
  therefore this script block must be down here after the HTML above
  is parsed.
-->
<script>
var dontWantElement = document.getElementById('DontWantSortableList');
var dontWantSortable = Sortable.create(dontWantElement, {
    group: {
        name: 'dontWantGroup',
        put: ['dontCareGroup', 'wantGroup']
    },
    animation: 100,
    onMove: function() {
        SetModified()
    }
});

var dontCareElement = document.getElementById('DontCareSortableList');
var dontCareSortable = Sortable.create(dontCareElement, {
    group: {
        name: 'dontCareGroup',
        put: ['dontWantGroup', 'wantGroup']
    },
    animation: 100,
    onMove: function() {
        SetModified()
    }
});

var wantElement = document.getElementById('WantSortableList');
var wantSortable = Sortable.create(wantElement, {
    group: {
        name: 'wantGroup',
        put: ['dontWantGroup', 'dontCareGroup']
    },
    animation: 100,
    onMove: function() {
        SetModified()
    }
});
</script>

{% endblock %}
