{% extends 'base.html' %}
{% block body %}

<script>
window.onbeforeunload = null;

function confirmOnPageExit(e) {
  e = e || window.event;
  var msg = '*** SAVE your work first! ***';
  if (e) {
    e.returnValue = msg;
  }
  return msg;
}

function moveRadio() {
  if (document.getElementById("radio1").checked) {
    src = "DontCareSelect";
    dst = "DontWantSelect";
  } else {
    src = "DontCareSelect";
    dst = "WantSelect";
  }
  move(src, dst);
}

function move(src, dst, option) {
  src_select = document.getElementById(src);
  dst_select = document.getElementById(dst);
  idx = src_select.selectedIndex;
  o = src_select.item(idx)
  dst_select.add(o)
  o.selected = false;
  window.onbeforeunload = confirmOnPageExit;
}

function CopySelectToHidden(select_id, hidden_id) {
  select = document.getElementById(select_id);
  str = ""
  for(var idx = 0; idx < select.options.length; idx++) {
    var val = select.item(idx).value;
    str = str + val;
    if (idx < select.length - 1) {
      str = str + ",";
    }
  }
  hidden = document.getElementById(hidden_id);
  hidden.value = str;
}

function submit_it() {
  window.onbeforeunload = null;
  CopySelectToHidden("WantSelect", "want");
  CopySelectToHidden("DontWantSelect", "dontwant");
  CopySelectToHidden("DontCareSelect", "dontcare");
  return true;
}
</script>

<h3>Preferences</h3>

Name: {{ student['first'] + ' ' + student['last'] }}<br>
Grade: {{ student['current_grade'] }}<br>
email: {{ student['email'] }}<br><br>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<input type=hidden name="student" value="{{ student['email'] }}" />
<input type=hidden id="want" name="want" value="" />
<input type=hidden id="dontwant" name="dontwant" value="" />
<input type=hidden id="dontcare" name="dontcare" value="" />

<table><tr><th>Don't Want</th><th></th><th>Don't Care</th><th></th><th>Want</th></tr>
<tr>
<td><select size=20 id="DontWantSelect" onclick="return move('DontWantSelect', 'DontCareSelect');" multiple>
{% for id in dontwant_ids %}
<option title='{{ classes[id].description }}' value='{{ id }}'>{{ classes[id].name }}</option>
{% endfor %}
</select></td>
<td>&lt;&lt; <input type="radio" name=direction id="radio1"/> &gt;&gt;</td>
<td><select size=20 id="DontCareSelect" onclick="return moveRadio();" multiple>
{% for id in dontcare_ids %}
<option title='{{ classes[id].description }}' value='{{ id }}'>{{ classes[id].name }}</option>
{% endfor %}
</select></td>
<td>&lt;&lt; <input type="radio" name=direction id="radio2" checked/> &gt;&gt;</td>
<td><select size=20 id="WantSelect" onclick="return move('WantSelect', 'DontCareSelect');" multiple>
{% for id in want_ids %}
<option title='{{ classes[id].description }}' value='{{ id }}'>{{ classes[id].name }}</option>
{% endfor %}
</select></td>
</tr></table>
<input type="submit" onclick="return submit_it();"/>
</form>
{% endblock %}
