{% extends 'base.html' %}
{% block body %}

<h2>Selectives Course Catalog</h2>
{% if student %}
  {{ student['first'] + ' ' + student['last'] }}<br>
  Grade: {{ student['current_grade'] }}<br>
  Homeroom: {{ student['current_homeroom'] }}<br><br>
  <a href="catalog_print?{{ session_query }}&student={{student['email'] }}">View Printer Friendly Page</a><br>
{% else %}
  <a href="catalog_print?{{ session_query }}">View Printer Friendly Page</a><br>
{% endif %}

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<input type=hidden name="student" value="{{ student['email'] }}" />

<hr align="left">
{% for c in classes %}
  {% if not c['exclude_from_catalog'] %}
    <h3>{{c['name']}}</h3>
    <b>Teacher: </b>{{c['instructor']}}<br>
    <b>Maximum Enrollment: </b>{{c['max_enrollment']}}<br>
    <b>Schedule: </b>
    {{c['schedule'][0]['daypart']}}
    {% if c['schedule']|length > 1 %}
      {% for s in c['schedule'][1:] %}
        / {{s['daypart']}}
      {% endfor %}
    {% endif %}<br>
    {% if c['donation'] %}
      <b>Suggested Donation: </b>{{c['donation']}}<br>
    {% endif %}
    <br>
    {% if c['description'] %}
      {% for line in c['description'].splitlines() %}
        {{ line }}<br>
      {% endfor %}
    {% endif %}
    <br>
    <hr align="left">
  {% endif %}
{% endfor %}
</form>
{% endblock %}
