{% extends 'menu.html' %}
{% block session_body %}

<h3>Requirements</h3>
<table width='50%'>
<tr><td style="color:crimson">REQUIREMENTS IS NOT CURRENTLY IN USE.</td></tr>
<tr><td>Student schedules will be checked against the requirements listed below. Go to Validate Registration to view invalid schedules.</td></tr>
<tr><td>Required Fields:
<ul style="margin: 0">
  <li>name</li>
  <li>id (generated)</li>
</ul>
Optional Fields:
<ul style="margin: 0">
  <li>applies_to:</li>
  <ul>
    <li>use empty list [] to specify all students</li>
    <li>current_grade specifies one grade level such as 8, 7, or 6</li>
    <li>email for individual students</li>
    <li>group from Student Groups</li>
  </ul>
  <li>exempt: list of emails who are exempt from this requirement</li>
  <li>class_or_group_options: the class or Class Groups that are required</li>
</ul>
</td></tr></table>
<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=requirements>
{{ requirements }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
