{% extends 'menu.html' %}
{% block session_body %}

<h3>Automated Scheduler</h3>

<script>
groups = {all: [{{ num_students }}]}

function UpdateCounts() {
  group_select = document.getElementById("student_groups");
  num_students_selected = document.getElementById("num_students_selected");
  for (var i = 0; i < group_select.options.length; i++) {
    o = group_select.options[i];
    if (o.selected) {
      num_students_selected.innerHTML = groups[o.value]
    } else {
      num_students_selected.innerHTML = 0
    }
  }
  return true;
}
</script>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<fieldset>
<legend>Preferences</legend>
<button name="action"
        value="Clear Prefs"
        onclick="return confirm('This will clear all preferences.');">
Clear All Preferences</button>
<button name="action"
        value="Random Prefs"
        onclick="return confirm('This will generate random preferences for all students.');"/>
Add Random Preferences</button>
</fieldset>

<fieldset>
<legend>Schedule</legend>
<button name="action"
        value="Clear Schedules"
        onclick="return confirm('This will clear all student schedules.');">
Clear All Schedules</button>
<input type=submit name="action" disabled value="Add_One_preference" />
<input type=submit name="action" disabled value="Add_Other_requirements" />
</fieldset>
</form>
{% endblock %}
