{% extends 'base.html' %}
{% block body %}

<script>
var spots_available_timer_object;

function ResetSpotsAvailableTimer(seconds) {
  if (spots_available_timer_object) {
    clearTimeout(spots_available_timer_object);
  }
  spots_available_timer_object = setTimeout(RefreshSpotsAvailable,
                                            seconds * 1000);
}

function RefreshSpotsAvailable() {
  var request = new XMLHttpRequest();
  request.open("POST", "/spots_available");
  request.onreadystatechange = function() {
    if(request.readyState == 4 && request.status == 200) {
      result = JSON.parse(request.responseText)
      WriteSpotsAvailableToGui(result);
      // TODO: How fast can we refresh before Google imposes
      // limits and starts demanding money?
      ResetSpotsAvailableTimer(7);
    }
  }
  var params = new FormData();
  params.append("institution", "{{ institution }}");
  params.append("session", "{{ session }}");
  params.append("student", "{{ student['email'] }}");
  var class_ids = Object.keys(classes_by_id);
  class_ids = JSON.stringify(class_ids);
  params.append("class_ids", class_ids);
  request.send(params);
}

function WriteSpotsAvailableToGui(class_availability) {
  for(c_id in class_availability) {
    dayparts = classes_by_id[c_id]['dayparts'];
    for(idx in dayparts) {
      var daypart = dayparts[idx];
      var dom_element_id = "spots_left_" + daypart + "_" + c_id;
      e = document.getElementById(dom_element_id);
      e.innerHTML = class_availability[c_id];
    }
  }
}

function CheckRequirements() {
  // TODO report if we are meeting all requirements
  // TODO set onbeforeunload to null if all requirements are met.
  window.onbeforeunload = confirmOnPageExit;
  window.onbeforeunload = null;
}

function confirmOnPageExit(e) {
  var msg = 'There are still problems with your registration.';
  e = e || window.event;
  if (e) {
    e.returnValue = msg;
  }
  return msg;
}

classes_by_id = {
{% for class_id in classes_by_id -%}
{{ class_id }} : { 'name' : '{{ classes_by_id[class_id]['name'] }}', 'dayparts': [{% for s in classes_by_id[class_id]['schedule'] -%}
'{{ s['daypart'] }}',
{%- endfor %}]},
{%- endfor %}
};

// TODO: move these color choices into the style sheet
var NOT_SELECTED_COLOR = '#eeeeff'; // light-grey
var HOVER_COLOR = '#bbbbbb'; // grey
var SELECTED_COLOR = '#8888ff'; // blue

selected_class_id_by_daypart = {};

function ClearClassInGui(class_id) {
  var dayparts = classes_by_id[class_id]['dayparts'];
  if (!dayparts) {
    return;
  }
  for (var i = 0; i < dayparts.length; i++) {
    var daypart = dayparts[i];
    // Clear any older selected class in this daypart
    e = document.getElementById(daypart + "_" + class_id);
    e.style.background = NOT_SELECTED_COLOR;
    e.selected = false;
    selected_class_id_by_daypart[daypart] =  null;
  }
}

function MarkClassInGui(class_id) {
  if (!class_id) {
    return;
  }
  var dayparts = classes_by_id[class_id]['dayparts'];
  for (var i = 0; i < dayparts.length; i++) {
    var daypart = dayparts[i];
    // Clear any old selected class in this daypart
    if (daypart in selected_class_id_by_daypart) {
      var old_class_id = selected_class_id_by_daypart[daypart];
      if (old_class_id) {
        ClearClassInGui(old_class_id);
      }
    }
    var e = document.getElementById(daypart + "_" + class_id);
    selected_class_id_by_daypart[daypart] = class_id;
    e.style.background = SELECTED_COLOR;
    e.selected = true;
  }
}

function ConfirmConflictingClasses(class_id, daypart) {
  // return true if there are no conflicting classes
  // or if the user is OK with removing the conficts.
  // return false otherwise.
  var dayparts = classes_by_id[class_id]['dayparts'];
  var conflicting_classes = [];
  for (var i = 0; i < dayparts.length; i++) {
    if (dayparts[i] == daypart) {
      // presumably the user knows and is OK with removing 
      // a class in the current daypart.
      continue;
    }
    var conflicting_class_id = selected_class_id_by_daypart[dayparts[i]];
    if (!conflicting_class_id) {
      continue;
    }
    class_name = classes_by_id[conflicting_class_id]['name'];
    if (class_name) {
      conflicting_classes.push(class_name);
    }
  }
  if (conflicting_classes.length == 0) {
    return true;
  }
  return confirm("Replace: " +
                 conflicting_classes.join(", ") +
                 "?");
}

function AddClassToBackend(class_id, daypart, loading_gif) {
  if (!ConfirmConflictingClasses(class_id, daypart)) {
    return;
  }
  var request = new XMLHttpRequest();
  request.open("POST", "/schedule");
  request.onreadystatechange = function() {
    if(request.readyState != 4) {
      // if the request is not finished then keep waiting.
      return;
    }
    if (request.status == 200) {
      result = JSON.parse(request.responseText)
      SetScheduleInGui(result);
    }
    loading_gif.style.visibility = "hidden";
    ResetSpotsAvailableTimer(1);
  }
  var params = new FormData();
  params.append("institution", "{{ institution }}");
  params.append("session", "{{ session }}");
  params.append("student", "{{ student['email'] }}");
  params.append("class_id", class_id);
  request.send(params);
}

function OnClickHandler(daypart, class_id) {
  if (class_id == selected_class_id_by_daypart[daypart]) {
    // The class is already selected.
    // TODO: Support removing classes.
    return;
  }
  var loading_gif = document.getElementById(daypart + "_" + class_id + "_loading_gif");
  loading_gif.style.visibility = "visible";
  MarkClassInGui(class_id);
  AddClassToBackend(class_id, daypart, loading_gif)
}

function setMouseOverBackground(element) {
  if (element.selected) {
    // If mousing over a clicked-on item, don't do anything.
    return;
  }
  element.style.background = HOVER_COLOR;
}

function setMouseOutBackground(element) {
  if (element.selected) {
    // If mousing over a clicked-on item, don't do anything.
    return;
  }
  element.style.background = NOT_SELECTED_COLOR;
}

function SetScheduleInGui(schedule) {
  // Mark the schedule of selected classes in the GUI.
  for (var idx in schedule) {
    class_id = schedule[idx];
    MarkClassInGui(class_id);
  }
  // Clear any classes that are selected in the GUI
  // but are not in the schedule parameter.
  for (var daypart in selected_class_id_by_daypart) {
    var class_id = selected_class_id_by_daypart[daypart];
    if (!class_id) {
      // There is already no selected class for this daypart in the GUI.
      continue;
    }
    var found = false;
    for (var idx in schedule) {
      if (schedule[idx] == class_id) {
        found = true;
      }
    }
    if (!found) {
      ClearClassInGui(class_id);
    }
  }
}
</script>

<h3>Schedule</h3>

Name: {{ student['first'] + ' ' + student['last'] }}<br>
Grade: {{ student['current_grade'] }}<br>
email: {{ student['email'] }}<br>
<a href="#mycatalog">View My Course Catalog</a><br><br>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<input type=hidden name="student" value="{{ student['email'] }}" />
<input type=hidden name="class_id" />
<table>
  {% for row in dayparts_ordered %}
  <tr>
    {% for daypart in row %}
      <td class="schedHeader">{{ daypart }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for daypart in row %}
      <td class="schedTableData">
        <ol id="{{daypart}}" class="schedOrderedList">
        {% for c in classes_by_daypart[daypart] %}
          <li class="schedListItem" id="{{daypart}}_{{c['id']}}"
              title="{{c['hover_text']}}"
              onclick="OnClickHandler('{{daypart}}', {{c['id']}});"
              onmouseover="setMouseOverBackground(this);"
              onmouseout="setMouseOutBackground(this);">
              <span id='spots_left_{{daypart}}_{{c['id']}}' style="background-color:lightgreen;"></span>
              {{ c['name'] }}
              <img src="/images/379.gif" id="{{daypart}}_{{c['id']}}_loading_gif" alt="loading gif" align="right" height="14" width="30" style="visibility:hidden"/>
          </li>
        {% endfor %}
        </ol>
      </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</form>
<script>
SetScheduleInGui({{ schedule|safe }});
RefreshSpotsAvailable();
</script>

<a name="mycatalog"></a>
<h2>Course Catalog for {{ student['first'] + ' ' + student['last'] }}</h2>

{% for c in classes_for_catalog %}
  <h3>{{c['name']}}</h3>
  <b>Teacher: </b>{{c['instructor']}}<br>
  <b>Maximum Enrollment: </b>{{c['max_enrollment']}}<br>
  <b>Schedule: </b>
  {{c['schedule'][0]['daypart']}}
  {% if c['schedule']|length > 1 %}
    {% for s in c['schedule'][1:] %}
      / {{s['daypart']}}
    {% endfor %}
  {% endif %}<br>
  {% if c['donation'] %}
    <b>Suggested Donation: </b>{{c['donation']}}<br>
  {% endif %}
  <br>
  {% if c['description'] %}
    {% for line in c['description'].splitlines() %}
      {{ line }}<br>
    {% endfor %}
   <br>
  {% endif %}
  <hr width="80%" align="left">
{% endfor %}

{% endblock %}
