{% extends 'base.html' %}
{% block body %}

<script>

var auto_save_timer_object;
var last_change_timestamp;

// Shim to handle Internet Explorer
if (!Date.now) {
  Date.now = function() { return new Date().getTime(); }
}

function ResetAutoSaveTimer(seconds) {
  // set the timer to save in the given number of seconds
  if (auto_save_timer_object) {
    clearTimeout(auto_save_timer_object);
  }
  auto_save_timer_object = setTimeout(AutoSave, seconds * 1000);
}

function SetModified() {
  // record the time of the last change
  last_change_timestamp = Date.now();
  // set the timer to save in 5 seconds
  ResetAutoSaveTimer(5);
  // Don't let the user leave without saving
  window.onbeforeunload = confirmOnPageExit;
  document.getElementById("status").innerHTML = "Modified";
}

function SetSaved() {
  // Let the user leave without hassle
  window.onbeforeunload = null;
  document.getElementById("status").innerHTML = "Saved";
}

function SetSaveFail() {
  // set the timer to try again in 5 seconds
  ResetAutoSaveTimer(5);
  window.onbeforeunload = confirmOnPageExit;
  document.getElementById("status").innerHTML = "Save Failed";
}

function SetSaving() {
  document.getElementById("status").innerHTML = "Saving...";
}

window.onbeforeunload = null;

function confirmOnPageExit(e) {
  e = e || window.event;
  var msg = '*** SAVE your work first! ***';
  if (e) {
    e.returnValue = msg;
  }
  return msg;
}

function AutoSave() {
  var save_timestamp = Date.now();
  SetSaving();
  var request = new XMLHttpRequest();
  request.onload = function() {
    if (request.status == 200) {
      if (save_timestamp > last_change_timestamp) {
        SetSaved();
      }
    } else {
      SetSaveFail();
    }
  }
  request.open("POST", "");
  var formElement = document.querySelector("form");
  var formData = new FormData(formElement);
  request.send(formData);
}
    
    

var noSelectionColor = '#eeeeff'; // light-grey
var hoverColor = '#bbbbbb'; // grey
var selectionColor = '#8888ff'; // blue

var selected = {};

function setClickedBackground(indx, ctrl) {
    console.log("Click: " + indx);
    console.log("Click: " + selected[indx]);

    // Turn off old selection
    if (selected[indx]) {
        selected[indx].style.background = noSelectionColor;
    }

    // If clicking on same selection again, toggle off
    if (ctrl == selected[indx]) {
        selected[indx] = null;
    }
    else {
        ctrl.style.background = selectionColor;
        selected[indx] = ctrl;
    }
}

function setMouseOverBackground(indx, ctrl) {
    // console.log("MouseOver: " + hoveredOver[indx]);

    if (selected[indx] && (ctrl == selected[indx])) {
        // If mousing over a clicked-on item, don't do anything.
    }
    else {
        ctrl.style.background = hoverColor;
    }
}

function setMouseOutBackground(indx, ctrl) {
    // console.log("MouseOver: " + hoveredOver[indx]);

    if (selected[indx] && (ctrl == selected[indx])) {
        // If mousing over a clicked-on item, don't do anything.
    }
    else {
        ctrl.style.background = noSelectionColor;
    }
}

</script>

<h3>Schedule</h3>

Name: {{ student['first'] + ' ' + student['last'] }}<br>
Grade: {{ student['current_grade'] }}<br>
email: {{ student['email'] }}<br><br>

<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<input type=hidden name="student" value="{{ student['email'] }}" />
<table>
  <tr>
    {% for daypart in dayparts_blockA %}
      <td class="schedHeader">{{ daypart }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for daypart in dayparts_blockA %}
      <td class="schedTableData">
        <ol id="{{daypart}}" class="schedOrderedList">
        {% for c in classes_blockA[daypart] %}
          <li class="schedListItem"
              onclick="setClickedBackground('{{daypart}}', this);"
              onmouseover="setMouseOverBackground('{{daypart}}', this);"
              onmouseout="setMouseOutBackground('{{daypart}}', this);">
              {{ c['name'] }}
          </li>
        {% endfor %}
        </ol>
      </td>
    {% endfor %}
  </tr>
  <tr>
    {% for daypart in dayparts_blockB %}
      <td class="schedHeader">{{ daypart }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for daypart in dayparts_blockB %}
      <td class="schedTableData">
        <ol id="{{daypart}}" class="schedOrderedList">
        {% for c in classes_blockB[daypart] %}
          <li class="schedListItem"
              onclick="setClickedBackground('{{daypart}}', this);"
              onmouseover="setMouseOverBackground('{{daypart}}', this);"
              onmouseout="setMouseOutBackground('{{daypart}}', this);">
              {{ c['name'] }}
          </li>
        {% endfor %}
        </ol>
      </td>
    {% endfor %}
  </tr>
</table>

</form>
{% endblock %}
