{% extends 'menu.html' %}
{% block session_body %}

<h3>Teachers</h3>
<table width='60%'>
<tr><td>
  Example:
  <pre style="border: solid; border-width: thin; margin-top: 4px; background-color:#d3d3d3">
- email: a.einstein@gmail.com
  first: Al
  last: Einstein
  current_homeroom: 29
- email: inewt@gmail.com
  first: Isaac
  last: Newt
  </pre>
</td><td>
Required fields:
<ul style="margin:0">
  <li>email</li>
  <li>first</li>
  <li>last</li>
</ul>
Optional field:
<ul style="margin:0">
  <li>current_homeroom</li>
</ul>
</td></tr></table>
<form method=post>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
<textarea name=teachers>
{{ teachers }}
</textarea>
<br />
<input type=submit />
</form>
{% endblock %}
