{% extends 'base.html' %}
{% block body %}

<h3>Welcome!</h3>
<p>Congratulations. You signed in successfully and you are ready to use
selectives-web for {{ session }} at {{ institution }} once signups begin.</p>

Please Verify your information below:<br>
Name: {{ student_name }}<br>
Current Grade: {{ current_grade }}<br>
<br>

<p>Preference signups are coming soon.</p>

<p>Thanks for verifying your access</p>

<a href="https://www.google.com/search?tbm=isch&q=smiley+face">Have a smiley face</a>

{% endblock body %}
