{% extends 'menu_student.html' %}
{% block session_body %}

<h3>Selective Schedules</h3>
<table width='60%'><tr><td>
If you don't see a link for your grade level, it is not ready yet.<br>
Available spots in the schedules were accurate at the time we created the document; the numbers may change.<br><br>
{% for v in view_links %}
<tr><td>
<a href="{{ v['url'] }}" target="_blank">Click for {{ v['name'] }}</a>
</td></tr>
{% endfor %}
</td></tr></table>
<input type=hidden name="institution" value="{{ institution }}" />
<input type=hidden name="session" value="{{ session }}" />
{% endblock %}
