{% extends 'base.html' %}
{% block body %}
<h1>Welcome to Discovery Charter School Selectives!</h1>

<h2>Registration for semester 2 is now complete.<br>
Please log in to view or print your final schedule.</h2>
<ol>
  <li>Use your mydiscoveryk8.org account.</li>
  <li>Click on the Log In button on the top right corner.</li>
  <li>When prompted for permission to share your address with discovery-selectives, choose "Allow".</li>
</ol><br>
<p><b>Frequently Asked Questions</b></p>
<ul>
  <li>I'm logged in but I still don't see anything.  -- Look at the top right. Are you using a mydiscoveryk8.org account? Are you a middle school student?</li>
  <li>Clicking on Selectives above doesn't work!  -- Yes you're right, it is for Admin use only.</li>
</ul>
<p>Other questions or feedback? Please contact discovery.selectives@gmail.com</p>

<p>Thanks for visiting.</p>

<a href="https://www.google.com/search?tbm=isch&q=smiley+face">Have a smiley face</a>

{% endblock body %}
